{% extends 'base.html.twig' %}

{% block content %}
 
{% if loginError is defined and loginError is not null %}
    <div class="notification error"> {{ loginError.message }} </div>
{% endif %}

<div class="div_login">
    <form class="login-form" action="{{ path('_check_path') }}" method="post">
        <div>
            <label for="login" class="required">Login</label>
            <input id="login" type="text" name="_username" value="{{ userName }}">
        </div>
        <div>
            <label for="passwd" class="required">Hasło</label>
            <input id="passwd" type="password" name="_password" >
        </div>
        <button class="btn-green submit">Zaloguj</button>
    </form>
</div>

{% endblock %}