body{
    position:relative;
    margin:0 auto;
}

#header_01{
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 200px;
/*    background-image: url('../images/mainphoto.jpg');
    background-size: 100% 100%;*/
}

#header_01 > img {
    width: 100%;
    height: 100%;
}

#info_02{
    position:absolute;
    z-index: 2;
    top:200px;
    width:100%;
    height:40px; 
}


#menu_03{
    position:absolute;
    z-index: 4;
    top:240px;
    background-color:black;
    width:100%;
    text-align: center;

}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

ul.navigation li {float: left;}

ul.navigation li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
    font-weight: bold;
}

ul.navigation li a:hover {background-color: #555;}

ul.navigation li.icon {display: none;}


@media screen and (max-width:680px) {
    ul.navigation li:not(:first-child) {display: none;}
    ul.navigation li.icon {
      float: right;    
      display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.navigation.responsive {position: relative;}
    ul.navigation.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    ul.navigation.responsive li {
      float: none;
      display: inline;
    }
    ul.navigation.responsive li a {
      display: block;
      text-align: left;
    }
}





/* content */
#content_04{
    position:relative;
    z-index: 3;
    top:290px;
    width:100%;
    height:420px;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center; 
}


@media screen and (max-width:680px) {

    table, thead, tbody, th, td, tr { 
	display: block; 
    }
	
    td { 
	border-bottom: 1px solid #eee; 
	position: relative;
        text-align: center;
    }
	
    td:before { 
	position: absolute;
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
    }
        
    td.term{display: none;}
    td.desc{display: none;}    
}












input[type="text"].tp {
    width: 10px;
}













/* stopka */
#footer_05{
    position:absolute;
    z-index: 5;
    top:710px;
    width:100%;
    height:100px;
}