{% extends 'base.html.twig' %}

{% block content %}

    <table>
    {% for principle in principles %}
        <tr>
            <td>{{ principle }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}