{% extends 'base.html.twig' %}

{% block content %}
    <table>
        {% for key,stat in stats %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ stat.match2 }}</td>
                <td>{{ stat.match4 }}</td>
                <td>{{ stat.match2 + stat.match4}}</td>
            </tr>
        {% endfor %}
    </table> 
{% endblock %}