{% extends 'base.html.twig' %}

{% block content %}
    <table>
        
        {% for key,type in types %}
            <tr>
                <td>{{ type.meet }}</td>
                {% for tp in type.types %}
                    {% if loop.index % 2 %}
                        <td>{{ tp }}</td>
                    {% else %}
                        <td>{{ tp }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}